<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.letsgo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LetsGo">
        <activity android:name=".ShowAllAnnonces"></activity>
<!--        <activity android:name=".listAnnonces" />-->
        <activity android:name=".Annonces" />
        <activity android:name=".AddAnnonce"></activity>
        <activity android:name=".RegisterForm"></activity>
        <activity
            android:name=".DetailsAnnonce"
            android:label="Details Annonce"
            android:parentActivityName=".Annonces" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>